In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [74]:
#importing datasets
#I will be using the two smaller datasets provided for training and testing (explain why I used these in the thesis)
pathTesting = 'C:\\Users\\Jovana\\PycharmProjects\\neural_network_DNN\\include\\UNSW-NB15\\UNSW_NB15_testing-set.csv'
pathTraining= 'C:\\Users\\Jovana\\PycharmProjects\\neural_network_DNN\\include\\UNSW-NB15\\UNSW_NB15_training-set.csv'

In [75]:
training=pd.read_csv(pathTraining)
testing=pd.read_csv(pathTesting)

In [76]:
training.info

<bound method DataFrame.info of             id       dur proto service state  spkts  dpkts  sbytes  dbytes  \
0            1  0.121478   tcp       -   FIN      6      4     258     172
1            2  0.649902   tcp       -   FIN     14     38     734   42014
2            3  1.623129   tcp       -   FIN      8     16     364   13186
3            4  1.681642   tcp     ftp   FIN     12     12     628     770
4            5  0.449454   tcp       -   FIN     10      6     534     268
...        ...       ...   ...     ...   ...    ...    ...     ...     ...
175336  175337  0.000009   udp     dns   INT      2      0     114       0
175337  175338  0.505762   tcp       -   FIN     10      8     620     354
175338  175339  0.000009   udp     dns   INT      2      0     114       0
175339  175340  0.000009   udp     dns   INT      2      0     114       0
175340  175341  0.000009   udp     dns   INT      2      0     114       0

                 rate  ...  ct_dst_sport_ltm  ct_dst_src_ltm  is_ftp_login  \
0           74.087490  ...                 1               1             0
1           78.473372  ...                 1               2             0
2           14.170161  ...                 1               3             0
3           13.677108  ...                 1               3             1
4           33.373826  ...                 1              40             0
...               ...  ...               ...             ...           ...
175336  111111.107200  ...                13              24             0
175337      33.612649  ...                 1               2             0
175338  111111.107200  ...                 3              13             0
175339  111111.107200  ...                14              30             0
175340  111111.107200  ...                16              30             0

        ct_ftp_cmd  ct_flw_http_mthd  ct_src_ltm  ct_srv_dst  is_sm_ips_ports  \
0                0                 0           1           1                0
1                0                 0           1           6                0
2                0                 0           2           6                0
3                1                 0           2           1                0
4                0                 0           2          39                0
...            ...               ...         ...         ...              ...
175336           0                 0          24          24                0
175337           0                 0           1           1                0
175338           0                 0           3          12                0
175339           0                 0          30          30                0
175340           0                 0          30          30                0

        attack_cat  label
0           Normal      0
1           Normal      0
2           Normal      0
3           Normal      0
4           Normal      0
...            ...    ...
175336     Generic      1
175337   Shellcode      1
175338     Generic      1
175339     Generic      1
175340     Generic      1

[175341 rows x 45 columns]>

In [77]:
training.shape

(175341, 45)

In [78]:
training.columns

Index(['id', 'dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [79]:
# check for missing values
training.isnull().sum()

id                   0
dur                  0
proto                0
service              0
state                0
spkts                0
dpkts                0
sbytes               0
dbytes               0
rate                 0
sttl                 0
dttl                 0
sload                0
dload                0
sloss                0
dloss                0
sinpkt               0
dinpkt               0
sjit                 0
djit                 0
swin                 0
stcpb                0
dtcpb                0
dwin                 0
tcprtt               0
synack               0
ackdat               0
smean                0
dmean                0
trans_depth          0
response_body_len    0
ct_srv_src           0
ct_state_ttl         0
ct_dst_ltm           0
ct_src_dport_ltm     0
ct_dst_sport_ltm     0
ct_dst_src_ltm       0
is_ftp_login         0
ct_ftp_cmd           0
ct_flw_http_mthd     0
ct_src_ltm           0
ct_srv_dst           0
is_sm_ips_ports      0
attack_cat           0
label                0
dtype: int64

In [81]:
testing.isnull().sum()

id                   0
dur                  0
proto                0
service              0
state                0
spkts                0
dpkts                0
sbytes               0
dbytes               0
rate                 0
sttl                 0
dttl                 0
sload                0
dload                0
sloss                0
dloss                0
sinpkt               0
dinpkt               0
sjit                 0
djit                 0
swin                 0
stcpb                0
dtcpb                0
dwin                 0
tcprtt               0
synack               0
ackdat               0
smean                0
dmean                0
trans_depth          0
response_body_len    0
ct_srv_src           0
ct_state_ttl         0
ct_dst_ltm           0
ct_src_dport_ltm     0
ct_dst_sport_ltm     0
ct_dst_src_ltm       0
is_ftp_login         0
ct_ftp_cmd           0
ct_flw_http_mthd     0
ct_src_ltm           0
ct_srv_dst           0
is_sm_ips_ports      0
attack_cat           0
label                0
dtype: int64

In [89]:
#there are no missing values, the feature 'service' has - where there is no service, rename it to 'undefined'
training['service'].replace('-','undefined',inplace=True)
testing['service'].replace('-','undefined',inplace=True)

In [90]:
training['attack_cat'].value_counts()

Normal            56000
Generic           40000
Exploits          33393
Fuzzers           18184
DoS               12264
Reconnaissance    10491
Analysis           2000
Backdoor           1746
Shellcode          1133
Worms               130
Name: attack_cat, dtype: int64

In [91]:
testing['attack_cat'].value_counts()

Normal            37000
Generic           18871
Exploits          11132
Fuzzers            6062
DoS                4089
Reconnaissance     3496
Analysis            677
Backdoor            583
Shellcode           378
Worms                44
Name: attack_cat, dtype: int64

In [92]:
training['state'].value_counts()

INT    82275
FIN    77825
CON    13152
REQ     1991
RST       83
ECO       12
PAR        1
URN        1
no         1
Name: state, dtype: int64

In [93]:
testing['state'].value_counts()

FIN    39339
INT    34163
CON     6982
REQ     1842
ACC        4
RST        1
CLO        1
Name: state, dtype: int64

In [94]:
training['service'].value_counts()

undefined    94168
dns          47294
http         18724
smtp          5058
ftp-data      3995
ftp           3428
ssh           1302
pop3          1105
dhcp            94
snmp            80
ssl             56
irc             25
radius          12
Name: service, dtype: int64

In [95]:
testing['service'].value_counts()

undefined    47153
dns          21367
http          8287
smtp          1851
ftp           1552
ftp-data      1396
pop3           423
ssh            204
ssl             30
snmp            29
dhcp            26
radius           9
irc              5
Name: service, dtype: int64

In [123]:
training['proto'].value_counts()

tcp       79946
udp       63283
unas      12084
arp        2859
ospf       2595
          ...
rdp          98
netblt       98
igmp         18
icmp         15
rtp           1
Name: proto, Length: 133, dtype: int64

In [122]:
features = pd.read_csv('C:\\Users\\Jovana\\PycharmProjects\\neural_network_DNN\\include\\UNSW-NB15\\UNSW-NB15_features.csv',encoding='ISO-8859-1')

tcp       79946
udp       63283
unas      12084
arp        2859
ospf       2595
          ...
rdp          98
netblt       98
igmp         18
icmp         15
rtp           1
Name: proto, Length: 133, dtype: int64

In [140]:
testing['proto'].value_counts()

KeyError: 'proto'

In [101]:
features['Type '] = features['Type '].str.lower()

In [102]:
# selecting column names of all data types
nominal_names = features['Name'][features['Type ']=='nominal']
integer_names = features['Name'][features['Type ']=='integer']
binary_names = features['Name'][features['Type ']=='binary']
float_names = features['Name'][features['Type ']=='float']

In [103]:
# selecting common column names from dataset and feature dataset
cols = training.columns
nominal_names = cols.intersection(nominal_names)
integer_names = cols.intersection(integer_names)
binary_names = cols.intersection(binary_names)
float_names = cols.intersection(float_names)

In [104]:
# Converting integer columns to numeric
for c in integer_names:
  pd.to_numeric(training[c])
  pd.to_numeric(testing[c])

In [107]:
# Converting binary columns to numeric
for c in binary_names:
  pd.to_numeric(training[c])
  pd.to_numeric(testing[c])

In [108]:
# Converting float columns to numeric
for c in float_names:
  pd.to_numeric(training[c])
  pd.to_numeric(testing[c])

In [110]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175341 entries, 0 to 175340
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 175341 non-null  int64
 1   dur                175341 non-null  float64
 2   proto              175341 non-null  object
 3   service            175341 non-null  object
 4   state              175341 non-null  object
 5   spkts              175341 non-null  int64
 6   dpkts              175341 non-null  int64
 7   sbytes             175341 non-null  int64
 8   dbytes             175341 non-null  int64
 9   rate               175341 non-null  float64
 10  sttl               175341 non-null  int64
 11  dttl               175341 non-null  int64
 12  sload              175341 non-null  float64
 13  dload              175341 non-null  float64
 14  sloss              175341 non-null  int64
 15  dloss              175341 non-null  int64
 16  sinpkt             175341 non-null  float64
 17  dinpkt             175341 non-null  float64
 18  sjit               175341 non-null  float64
 19  djit               175341 non-null  float64
 20  swin               175341 non-null  int64
 21  stcpb              175341 non-null  int64
 22  dtcpb              175341 non-null  int64
 23  dwin               175341 non-null  int64
 24  tcprtt             175341 non-null  float64
 25  synack             175341 non-null  float64
 26  ackdat             175341 non-null  float64
 27  smean              175341 non-null  int64
 28  dmean              175341 non-null  int64
 29  trans_depth        175341 non-null  int64
 30  response_body_len  175341 non-null  int64
 31  ct_srv_src         175341 non-null  int64
 32  ct_state_ttl       175341 non-null  int64
 33  ct_dst_ltm         175341 non-null  int64
 34  ct_src_dport_ltm   175341 non-null  int64
 35  ct_dst_sport_ltm   175341 non-null  int64
 36  ct_dst_src_ltm     175341 non-null  int64
 37  is_ftp_login       175341 non-null  int64
 38  ct_ftp_cmd         175341 non-null  int64
 39  ct_flw_http_mthd   175341 non-null  int64
 40  ct_src_ltm         175341 non-null  int64
 41  ct_srv_dst         175341 non-null  int64
 42  is_sm_ips_ports    175341 non-null  int64
 43  attack_cat         175341 non-null  object
 44  label              175341 non-null  int64
dtypes: float64(11), int64(30), object(4)
memory usage: 60.2+ MB

In [111]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82332 entries, 0 to 82331
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 82332 non-null  int64
 1   dur                82332 non-null  float64
 2   proto              82332 non-null  object
 3   service            82332 non-null  object
 4   state              82332 non-null  object
 5   spkts              82332 non-null  int64
 6   dpkts              82332 non-null  int64
 7   sbytes             82332 non-null  int64
 8   dbytes             82332 non-null  int64
 9   rate               82332 non-null  float64
 10  sttl               82332 non-null  int64
 11  dttl               82332 non-null  int64
 12  sload              82332 non-null  float64
 13  dload              82332 non-null  float64
 14  sloss              82332 non-null  int64
 15  dloss              82332 non-null  int64
 16  sinpkt             82332 non-null  float64
 17  dinpkt             82332 non-null  float64
 18  sjit               82332 non-null  float64
 19  djit               82332 non-null  float64
 20  swin               82332 non-null  int64
 21  stcpb              82332 non-null  int64
 22  dtcpb              82332 non-null  int64
 23  dwin               82332 non-null  int64
 24  tcprtt             82332 non-null  float64
 25  synack             82332 non-null  float64
 26  ackdat             82332 non-null  float64
 27  smean              82332 non-null  int64
 28  dmean              82332 non-null  int64
 29  trans_depth        82332 non-null  int64
 30  response_body_len  82332 non-null  int64
 31  ct_srv_src         82332 non-null  int64
 32  ct_state_ttl       82332 non-null  int64
 33  ct_dst_ltm         82332 non-null  int64
 34  ct_src_dport_ltm   82332 non-null  int64
 35  ct_dst_sport_ltm   82332 non-null  int64
 36  ct_dst_src_ltm     82332 non-null  int64
 37  is_ftp_login       82332 non-null  int64
 38  ct_ftp_cmd         82332 non-null  int64
 39  ct_flw_http_mthd   82332 non-null  int64
 40  ct_src_ltm         82332 non-null  int64
 41  ct_srv_dst         82332 non-null  int64
 42  is_sm_ips_ports    82332 non-null  int64
 43  attack_cat         82332 non-null  object
 44  label              82332 non-null  int64
dtypes: float64(11), int64(30), object(4)
memory usage: 28.3+ MB

In [112]:
#now we do one-hot encoding for the categorical ones
num_col = training.select_dtypes(include='number').columns

# selecting categorical data attributes
cat_col = training.columns.difference(num_col)
cat_col = cat_col[1:]
cat_col

Index(['proto', 'service', 'state'], dtype='object')

In [114]:
#first for the training dataset
# creating a dataframe with only categorical attributes
training_data_cat = training[cat_col].copy()
training_data_cat.head()

  proto    service state
0   tcp  undefined   FIN
1   tcp  undefined   FIN
2   tcp  undefined   FIN
3   tcp        ftp   FIN
4   tcp  undefined   FIN

In [118]:
# one-hot-encoding categorical attributes using pandas.get_dummies() function
training_data_cat = pd.get_dummies(training_data_cat,columns=cat_col)

In [119]:
training_data_cat.head()

,proto_3pc,proto_a/n,proto_aes-sp3-d,proto_any,proto_argus,proto_aris,proto_arp,proto_ax.25,proto_bbn-rcc,proto_bna,...,service_undefined,state_CON,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [121]:
training_data_cat.shape

(175341, 155)

In [125]:
training = pd.concat([training, training_data_cat],axis=1)

In [126]:
training.shape

(175341, 200)

In [127]:
training.drop(columns=cat_col,inplace=True)

In [128]:
training.shape

(175341, 197)

In [129]:
#now the same for testing dataset
# creating a dataframe with only categorical attributes
testing_data_cat = testing[cat_col].copy()
testing_data_cat.head()

  proto    service state
0   udp  undefined   INT
1   udp  undefined   INT
2   udp  undefined   INT
3   udp  undefined   INT
4   udp  undefined   INT

In [130]:
# one-hot-encoding categorical attributes using pandas.get_dummies() function
testing_data_cat = pd.get_dummies(testing_data_cat,columns=cat_col)

In [131]:
testing_data_cat.shape

(82332, 151)

In [132]:
testing = pd.concat([testing, testing_data_cat],axis=1)

In [133]:
testing.shape

(82332, 196)

In [134]:
testing.drop(columns=cat_col,inplace=True)

In [135]:
testing.shape

(82332, 193)

In [137]:
#now we have a difference in some columns, we have to find them

train_col= training.columns.tolist()
test_col = testing.columns.tolist()
#find the missing columns
diff = list(set(train_col) - set(test_col))
#print the missing columns
diff

['state_PAR', 'proto_icmp', 'state_ECO', 'proto_rtp', 'state_URN', 'state_no']

In [139]:
diff2=list(set(test_col) - set(train_col))
diff2

['state_CLO', 'state_ACC']

In [141]:
#in training dataset we are missing: state_CLO, state_ACC
#in testing dataset we are missing: state_PAR, state_URN, state_no, state_ECO, proto_icmp, proto_rtp

#fixing the training dataset
for col in diff2:
  training[col]=0

training.shape

(175341, 199)

In [142]:
#fixing the testing dataset

for col in diff:
  testing[col]=0

testing.shape

(82332, 199)

In [144]:
training.head()

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no,state_CLO,state_ACC
0,1,0.121478,6,4,258,172,74.087490,252,254,14158.942380,...,0,1,0,0,0,0,0,0,0,0
1,2,0.649902,14,38,734,42014,78.473372,62,252,8395.112305,...,0,1,0,0,0,0,0,0,0,0
2,3,1.623129,8,16,364,13186,14.170161,62,252,1572.271851,...,0,1,0,0,0,0,0,0,0,0
3,4,1.681642,12,12,628,770,13.677108,62,252,2740.178955,...,0,1,0,0,0,0,0,0,0,0
4,5,0.449454,10,6,534,268,33.373826,254,252,8561.499023,...,0,1,0,0,0,0,0,0,0,0

In [145]:
#we can drop the id column since it doesn't make a difference
training.drop('id', axis=1,inplace=True)
testing.drop('id', axis=1,inplace=True)

In [146]:
training.head()

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no,state_CLO,state_ACC
0,0.121478,6,4,258,172,74.087490,252,254,14158.942380,8495.365234,...,0,1,0,0,0,0,0,0,0,0
1,0.649902,14,38,734,42014,78.473372,62,252,8395.112305,503571.312500,...,0,1,0,0,0,0,0,0,0,0
2,1.623129,8,16,364,13186,14.170161,62,252,1572.271851,60929.230470,...,0,1,0,0,0,0,0,0,0,0
3,1.681642,12,12,628,770,13.677108,62,252,2740.178955,3358.622070,...,0,1,0,0,0,0,0,0,0,0
4,0.449454,10,6,534,268,33.373826,254,252,8561.499023,3987.059814,...,0,1,0,0,0,0,0,0,0,0

In [150]:
#we still have the attack category, this will be used for multi cat
#use minmax scaler to normalize data
#first for training dataset
from sklearn import preprocessing
num_col = list(training.select_dtypes(include='number').columns)
num_col.remove('label') #this will be separated later
num_col

['dur',
 'spkts',
 'dpkts',
 'sbytes',
 'dbytes',
 'rate',
 'sttl',
 'dttl',
 'sload',
 'dload',
 'sloss',
 'dloss',
 'sinpkt',
 'dinpkt',
 'sjit',
 'djit',
 'swin',
 'stcpb',
 'dtcpb',
 'dwin',
 'tcprtt',
 'synack',
 'ackdat',
 'smean',
 'dmean',
 'trans_depth',
 'response_body_len',
 'ct_srv_src',
 'ct_state_ttl',
 'ct_dst_ltm',
 'ct_src_dport_ltm',
 'ct_dst_sport_ltm',
 'ct_dst_src_ltm',
 'is_ftp_login',
 'ct_ftp_cmd',
 'ct_flw_http_mthd',
 'ct_src_ltm',
 'ct_srv_dst',
 'is_sm_ips_ports',
 'proto_3pc',
 'proto_a/n',
 'proto_aes-sp3-d',
 'proto_any',
 'proto_argus',
 'proto_aris',
 'proto_arp',
 'proto_ax.25',
 'proto_bbn-rcc',
 'proto_bna',
 'proto_br-sat-mon',
 'proto_cbt',
 'proto_cftp',
 'proto_chaos',
 'proto_compaq-peer',
 'proto_cphb',
 'proto_cpnx',
 'proto_crtp',
 'proto_crudp',
 'proto_dcn',
 'proto_ddp',
 'proto_ddx',
 'proto_dgp',
 'proto_egp',
 'proto_eigrp',
 'proto_emcon',
 'proto_encap',
 'proto_etherip',
 'proto_fc',
 'proto_fire',
 'proto_ggp',
 'proto_gmtp',
 'proto_gre',
 'proto_hmp',
 'proto_i-nlsp',
 'proto_iatp',
 'proto_ib',
 'proto_icmp',
 'proto_idpr',
 'proto_idpr-cmtp',
 'proto_idrp',
 'proto_ifmp',
 'proto_igmp',
 'proto_igp',
 'proto_il',
 'proto_ip',
 'proto_ipcomp',
 'proto_ipcv',
 'proto_ipip',
 'proto_iplt',
 'proto_ipnip',
 'proto_ippc',
 'proto_ipv6',
 'proto_ipv6-frag',
 'proto_ipv6-no',
 'proto_ipv6-opts',
 'proto_ipv6-route',
 'proto_ipx-n-ip',
 'proto_irtp',
 'proto_isis',
 'proto_iso-ip',
 'proto_iso-tp4',
 'proto_kryptolan',
 'proto_l2tp',
 'proto_larp',
 'proto_leaf-1',
 'proto_leaf-2',
 'proto_merit-inp',
 'proto_mfe-nsp',
 'proto_mhrp',
 'proto_micp',
 'proto_mobile',
 'proto_mtp',
 'proto_mux',
 'proto_narp',
 'proto_netblt',
 'proto_nsfnet-igp',
 'proto_nvp',
 'proto_ospf',
 'proto_pgm',
 'proto_pim',
 'proto_pipe',
 'proto_pnni',
 'proto_pri-enc',
 'proto_prm',
 'proto_ptp',
 'proto_pup',
 'proto_pvp',
 'proto_qnx',
 'proto_rdp',
 'proto_rsvp',
 'proto_rtp',
 'proto_rvd',
 'proto_sat-expak',
 'proto_sat-mon',
 'proto_sccopmce',
 'proto_scps',
 'proto_sctp',
 'proto_sdrp',
 'proto_secure-vmtp',
 'proto_sep',
 'proto_skip',
 'proto_sm',
 'proto_smp',
 'proto_snp',
 'proto_sprite-rpc',
 'proto_sps',
 'proto_srp',
 'proto_st2',
 'proto_stp',
 'proto_sun-nd',
 'proto_swipe',
 'proto_tcf',
 'proto_tcp',
 'proto_tlsp',
 'proto_tp++',
 'proto_trunk-1',
 'proto_trunk-2',
 'proto_ttp',
 'proto_udp',
 'proto_unas',
 'proto_uti',
 'proto_vines',
 'proto_visa',
 'proto_vmtp',
 'proto_vrrp',
 'proto_wb-expak',
 'proto_wb-mon',
 'proto_wsn',
 'proto_xnet',
 'proto_xns-idp',
 'proto_xtp',
 'proto_zero',
 'service_dhcp',
 'service_dns',
 'service_ftp',
 'service_ftp-data',
 'service_http',
 'service_irc',
 'service_pop3',
 'service_radius',
 'service_smtp',
 'service_snmp',
 'service_ssh',
 'service_ssl',
 'service_undefined',
 'state_CON',
 'state_ECO',
 'state_FIN',
 'state_INT',
 'state_PAR',
 'state_REQ',
 'state_RST',
 'state_URN',
 'state_no',
 'state_CLO',
 'state_ACC']

In [151]:
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))
def normalization(df,coll):
  for i in coll:
    arr = df[i]
    arr = np.array(arr)
    df[i] = minmax_scale.fit_transform(arr.reshape(len(arr),1))
  return df

In [152]:
# data before normalization
training.head()

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no,state_CLO,state_ACC
0,0.121478,6,4,258,172,74.087490,252,254,14158.942380,8495.365234,...,0,1,0,0,0,0,0,0,0,0
1,0.649902,14,38,734,42014,78.473372,62,252,8395.112305,503571.312500,...,0,1,0,0,0,0,0,0,0,0
2,1.623129,8,16,364,13186,14.170161,62,252,1572.271851,60929.230470,...,0,1,0,0,0,0,0,0,0,0
3,1.681642,12,12,628,770,13.677108,62,252,2740.178955,3358.622070,...,0,1,0,0,0,0,0,0,0,0
4,0.449454,10,6,534,268,33.373826,254,252,8561.499023,3987.059814,...,0,1,0,0,0,0,0,0,0,0

In [153]:
# calling normalization() function
training = normalization(training.copy(),num_col)

In [155]:
# data after normalization
training.head()

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no,state_CLO,state_ACC
0,0.002025,0.000520,0.000364,0.000018,0.000012,0.000074,0.988235,1.000000,2.364553e-06,0.000379,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.010832,0.001352,0.003463,0.000054,0.002867,0.000078,0.243137,0.992126,1.401989e-06,0.022458,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.027052,0.000728,0.001458,0.000026,0.000900,0.000014,0.243137,0.992126,2.625704e-07,0.002717,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.028027,0.001144,0.001093,0.000046,0.000053,0.000014,0.243137,0.992126,4.576117e-07,0.000150,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.007491,0.000936,0.000547,0.000039,0.000018,0.000033,0.996078,0.992126,1.429776e-06,0.000178,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
#now we do the same for testing dataset
num_col_test = list(testing.select_dtypes(include='number').columns)
num_col_test.remove('label') #this will be separated later
num_col_test

['dur',
 'spkts',
 'dpkts',
 'sbytes',
 'dbytes',
 'rate',
 'sttl',
 'dttl',
 'sload',
 'dload',
 'sloss',
 'dloss',
 'sinpkt',
 'dinpkt',
 'sjit',
 'djit',
 'swin',
 'stcpb',
 'dtcpb',
 'dwin',
 'tcprtt',
 'synack',
 'ackdat',
 'smean',
 'dmean',
 'trans_depth',
 'response_body_len',
 'ct_srv_src',
 'ct_state_ttl',
 'ct_dst_ltm',
 'ct_src_dport_ltm',
 'ct_dst_sport_ltm',
 'ct_dst_src_ltm',
 'is_ftp_login',
 'ct_ftp_cmd',
 'ct_flw_http_mthd',
 'ct_src_ltm',
 'ct_srv_dst',
 'is_sm_ips_ports',
 'proto_3pc',
 'proto_a/n',
 'proto_aes-sp3-d',
 'proto_any',
 'proto_argus',
 'proto_aris',
 'proto_arp',
 'proto_ax.25',
 'proto_bbn-rcc',
 'proto_bna',
 'proto_br-sat-mon',
 'proto_cbt',
 'proto_cftp',
 'proto_chaos',
 'proto_compaq-peer',
 'proto_cphb',
 'proto_cpnx',
 'proto_crtp',
 'proto_crudp',
 'proto_dcn',
 'proto_ddp',
 'proto_ddx',
 'proto_dgp',
 'proto_egp',
 'proto_eigrp',
 'proto_emcon',
 'proto_encap',
 'proto_etherip',
 'proto_fc',
 'proto_fire',
 'proto_ggp',
 'proto_gmtp',
 'proto_gre',
 'proto_hmp',
 'proto_i-nlsp',
 'proto_iatp',
 'proto_ib',
 'proto_idpr',
 'proto_idpr-cmtp',
 'proto_idrp',
 'proto_ifmp',
 'proto_igmp',
 'proto_igp',
 'proto_il',
 'proto_ip',
 'proto_ipcomp',
 'proto_ipcv',
 'proto_ipip',
 'proto_iplt',
 'proto_ipnip',
 'proto_ippc',
 'proto_ipv6',
 'proto_ipv6-frag',
 'proto_ipv6-no',
 'proto_ipv6-opts',
 'proto_ipv6-route',
 'proto_ipx-n-ip',
 'proto_irtp',
 'proto_isis',
 'proto_iso-ip',
 'proto_iso-tp4',
 'proto_kryptolan',
 'proto_l2tp',
 'proto_larp',
 'proto_leaf-1',
 'proto_leaf-2',
 'proto_merit-inp',
 'proto_mfe-nsp',
 'proto_mhrp',
 'proto_micp',
 'proto_mobile',
 'proto_mtp',
 'proto_mux',
 'proto_narp',
 'proto_netblt',
 'proto_nsfnet-igp',
 'proto_nvp',
 'proto_ospf',
 'proto_pgm',
 'proto_pim',
 'proto_pipe',
 'proto_pnni',
 'proto_pri-enc',
 'proto_prm',
 'proto_ptp',
 'proto_pup',
 'proto_pvp',
 'proto_qnx',
 'proto_rdp',
 'proto_rsvp',
 'proto_rvd',
 'proto_sat-expak',
 'proto_sat-mon',
 'proto_sccopmce',
 'proto_scps',
 'proto_sctp',
 'proto_sdrp',
 'proto_secure-vmtp',
 'proto_sep',
 'proto_skip',
 'proto_sm',
 'proto_smp',
 'proto_snp',
 'proto_sprite-rpc',
 'proto_sps',
 'proto_srp',
 'proto_st2',
 'proto_stp',
 'proto_sun-nd',
 'proto_swipe',
 'proto_tcf',
 'proto_tcp',
 'proto_tlsp',
 'proto_tp++',
 'proto_trunk-1',
 'proto_trunk-2',
 'proto_ttp',
 'proto_udp',
 'proto_unas',
 'proto_uti',
 'proto_vines',
 'proto_visa',
 'proto_vmtp',
 'proto_vrrp',
 'proto_wb-expak',
 'proto_wb-mon',
 'proto_wsn',
 'proto_xnet',
 'proto_xns-idp',
 'proto_xtp',
 'proto_zero',
 'service_dhcp',
 'service_dns',
 'service_ftp',
 'service_ftp-data',
 'service_http',
 'service_irc',
 'service_pop3',
 'service_radius',
 'service_smtp',
 'service_snmp',
 'service_ssh',
 'service_ssl',
 'service_undefined',
 'state_ACC',
 'state_CLO',
 'state_CON',
 'state_FIN',
 'state_INT',
 'state_REQ',
 'state_RST',
 'state_PAR',
 'proto_icmp',
 'state_ECO',
 'proto_rtp',
 'state_URN',
 'state_no']

In [157]:
# data before normalization
testing.head()

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_FIN,state_INT,state_REQ,state_RST,state_PAR,proto_icmp,state_ECO,proto_rtp,state_URN,state_no
0,0.000011,2,0,496,0,90909.0902,254,0,180363632.0,0.0,...,0,1,0,0,0,0,0,0,0,0
1,0.000008,2,0,1762,0,125000.0003,254,0,881000000.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2,0.000005,2,0,1068,0,200000.0051,254,0,854400000.0,0.0,...,0,1,0,0,0,0,0,0,0,0
3,0.000006,2,0,900,0,166666.6608,254,0,600000000.0,0.0,...,0,1,0,0,0,0,0,0,0,0
4,0.000010,2,0,2126,0,100000.0025,254,0,850400000.0,0.0,...,0,1,0,0,0,0,0,0,0,0

In [158]:
# calling normalization() function
testing = normalization(testing.copy(),num_col_test)

In [159]:
# data after normalization
testing.head()

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_FIN,state_INT,state_REQ,state_RST,state_PAR,proto_icmp,state_ECO,proto_rtp,state_URN,state_no
0,1.833334e-07,0.000094,0.0,0.000033,0.0,0.090909,0.996078,0.0,0.034238,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.333334e-07,0.000094,0.0,0.000121,0.0,0.125000,0.996078,0.0,0.167236,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8.333335e-08,0.000094,0.0,0.000073,0.0,0.200000,0.996078,0.0,0.162187,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000e-07,0.000094,0.0,0.000061,0.0,0.166667,0.996078,0.0,0.113895,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.666667e-07,0.000094,0.0,0.000146,0.0,0.100000,0.996078,0.0,0.161427,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [160]:
#now the data is normalized, we make binary and multiclass data splitting
train_Y =training['label']
train_X = training.drop('label',1)

C:\Users\Jovana\AppData\Local\Temp/ipykernel_6648/3919863486.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  train_X = training.drop('label',1)

In [167]:
train_Y.head()

0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [168]:
train_X.shape

(175341, 197)

In [169]:
test_Y =testing['label']
test_X = testing.drop('label',1)

C:\Users\Jovana\AppData\Local\Temp/ipykernel_6648/2074097035.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  test_X = testing.drop('label',1)

In [170]:
test_Y.head()

0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [171]:
test_X.shape

(82332, 197)

In [173]:
#maybe we could remove the attack category altogether since we will need it only for the multiclass
train_X_bin = train_X.drop('attack_cat',1)
test_X_bin = test_X.drop('attack_cat',1)

C:\Users\Jovana\AppData\Local\Temp/ipykernel_6648/4012335.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  train_X_bin = train_X.drop('attack_cat',1)
C:\Users\Jovana\AppData\Local\Temp/ipykernel_6648/4012335.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  test_X_bin = test_X.drop('attack_cat',1)

In [174]:
train_X_bin.shape

(175341, 196)

In [175]:
test_X_bin.shape

(82332, 196)

In [176]:
train_Y.shape

(175341,)

In [177]:
test_Y.shape

(82332,)

In [179]:
#now we have the datasets ready for the binary classification
#we have to make them for multiclass later
#let's try a neural network now
from tensorflow.python.keras.layers import Activation
from keras.optimizers import SGD
from keras.models import Sequential
from keras.layers import Dense
from keras.layers.advanced_activations import PReLU
act = PReLU(alpha_initializer='zeros', weights=None)
model = Sequential()
# define the NN architecture and activation function

model.add(Dense(248, input_dim=196))
model.add(Activation(act))
model.add(Dense(124))
model.add(Activation('relu'))
model.add(Dense(64))
model.add(Activation('relu'))
model.add(Dense(32))
model.add(Activation('relu'))
model.add(Dense(1))
model.add(Activation('sigmoid'))

sgd =SGD(lr=0.1, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(loss='binary_crossentropy', optimizer=sgd, metrics= ['accuracy'])
model.fit(train_X_bin, train_Y, epochs=50, batch_size=100)

Epoch 1/50
1754/1754 [==============================] - 3s 2ms/step - loss: 0.1456 - accuracy: 0.9339
Epoch 2/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1308 - accuracy: 0.9367
Epoch 3/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1280 - accuracy: 0.9374
Epoch 4/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1262 - accuracy: 0.9382
Epoch 5/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1258 - accuracy: 0.9383
Epoch 6/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1246 - accuracy: 0.9390
Epoch 7/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1239 - accuracy: 0.9384
Epoch 8/50
1754/1754 [==============================] - 3s 2ms/step - loss: 0.1232 - accuracy: 0.9386
Epoch 9/50
1754/1754 [==============================] - 3s 2ms/step - loss: 0.1228 - accuracy: 0.9389
Epoch 10/50
1754/1754 [==============================] - 3s 2ms/step - loss: 0.1223 - accuracy: 0.9393
Epoch 11/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1221 - accuracy: 0.9395
Epoch 12/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1217 - accuracy: 0.9394
Epoch 13/50
1754/1754 [==============================] - 3s 2ms/step - loss: 0.1213 - accuracy: 0.9397
Epoch 14/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1213 - accuracy: 0.9393
Epoch 15/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1206 - accuracy: 0.9396
Epoch 16/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1202 - accuracy: 0.9394
Epoch 17/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1205 - accuracy: 0.9399
Epoch 18/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1197 - accuracy: 0.9398
Epoch 19/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1195 - accuracy: 0.9403
Epoch 20/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1197 - accuracy: 0.9400
Epoch 21/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1191 - accuracy: 0.9407
Epoch 22/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1190 - accuracy: 0.9403
Epoch 23/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1188 - accuracy: 0.9413
Epoch 24/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1185 - accuracy: 0.9403
Epoch 25/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1185 - accuracy: 0.9402
Epoch 26/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1182 - accuracy: 0.9410
Epoch 27/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1181 - accuracy: 0.9406
Epoch 28/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1178 - accuracy: 0.9406
Epoch 29/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1174 - accuracy: 0.9411
Epoch 30/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1174 - accuracy: 0.9416
Epoch 31/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1173 - accuracy: 0.9416
Epoch 32/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1172 - accuracy: 0.9415
Epoch 33/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1168 - accuracy: 0.9421
Epoch 34/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1166 - accuracy: 0.9416
Epoch 35/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1166 - accuracy: 0.9419
Epoch 36/50
1754/1754 [==============================] - 3s 2ms/step - loss: 0.1164 - accuracy: 0.9421
Epoch 37/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1162 - accuracy: 0.9423
Epoch 38/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1159 - accuracy: 0.9416
Epoch 39/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1158 - accuracy: 0.9422
Epoch 40/50
1754/1754 [==============================] - 3s 2ms/step - loss: 0.1158 - accuracy: 0.9422
Epoch 41/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1158 - accuracy: 0.9421
Epoch 42/50
1754/1754 [==============================] - 3s 2ms/step - loss: 0.1154 - accuracy: 0.9422
Epoch 43/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1158 - accuracy: 0.9425
Epoch 44/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1153 - accuracy: 0.9421
Epoch 45/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1151 - accuracy: 0.9419
Epoch 46/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1153 - accuracy: 0.9422
Epoch 47/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1150 - accuracy: 0.9426
Epoch 48/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1148 - accuracy: 0.9425
Epoch 49/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1146 - accuracy: 0.9425
Epoch 50/50
1754/1754 [==============================] - 3s 1ms/step - loss: 0.1147 - accuracy: 0.9424

In [180]:
#training accuracy
train_acc = model.evaluate(train_X_bin, train_Y, verbose=0)
print("%s: %.2f%%" % (model.metrics_names[1], train_acc[1]*100))

accuracy: 94.44%

In [181]:
#calculate the test accuracy using evaluate function
test_acc = model.evaluate(test_X_bin, test_Y, verbose=0)
print("%s: %.2f%%" % (model.metrics_names[1], test_acc[1]*100))

accuracy: 75.72%

In [182]:
from sklearn.metrics import accuracy_score

# or find the prediction accuracy using predict_classes (same as test accuracy)
y_pred = model.predict_classes(test_X_bin)
pred_accuracy = accuracy_score(test_Y, y_pred)
pred_accuracy

WARNING:tensorflow:From C:\Users\Jovana\AppData\Local\Temp/ipykernel_6648/3769363601.py:4: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

0.7571539620074819

In [183]:
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score
# Precision
precision = precision_score(test_Y, y_pred)
print('Precision : %f'% precision)

Precision : 0.695449

In [184]:
# Recall
recall = recall_score(test_Y, y_pred)
print('Recall: %f' % recall)

Recall: 0.994419

In [185]:
# f1-score
f1 = f1_score(test_Y, y_pred)
print('F1 score: %f' % f1)

F1 score: 0.818487

In [186]:
roc = roc_auc_score(test_Y, y_pred)
print('ROC_AUC Score: %f' % roc)

ROC_AUC Score: 0.730439

In [187]:
from sklearn.metrics import confusion_matrix

# confusion matrix
confusionmatrix = confusion_matrix(test_Y, y_pred)
print(confusionmatrix)

[[17259 19741]
 [  253 45079]]